section.project
    include ../components/_logo
    .grid-container
        .project_video
            iframe(src='https://player.vimeo.com/video/163721649?color=ffcb01&title=0&byline=0&portrait=0', style='position:absolute;top:0;left:0;width:100%;height:100%;', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        .project_content
            h1.project_title
                =name
            .project_labels
                span.label
                    | animation
                span.label
                    | crypto
            .badges.badges--project
                span.badge
                    +icon('badge_mo', [23, 38], '#c1a062')
                span.badge
                    +icon('badge_ae', [23, 38], 'none')
            .project_info
                .project_info_content
                    .project_info_top
                        strong Client
                        | Awesome company
                    p.project_info_text
                        | This November we're bringing you an exciting update from rapidly growing portfolio company Fetch, coverage from the world's largest tech conference Web Summit, opportunities to get involved in Startup Week 2019, a bevy of community events, and a feature of a brand new mentor Amber Case!
                .project_info_logo
                    img(src=`./assets/img/clients/adidas.png` srcset=`./assets/img/clients/adidas.png 1x, ./assets/img/clients/adidas@2x.png 2x` alt='Adidas')
            a.project_link(href="#")
                | link to project
                +icon('arrow', [22, 13], '#454545', [24, 14])

        .grid-x.grid-margin-x.project_images
            .cell.large-6.project_images_item
                img(src="//picsum.photos/936/460/?random&" + Math.random(), alt=name)
            .cell.large-6.project_images_item
                img(src="//picsum.photos/936/460/?random&" + Math.random(), alt=name)
            .cell.large-12.project_images_item
                img(src="//picsum.photos/1930/904/?random&" + Math.random(), alt=name)
            .cell.large-6.project_images_item
                img(src="//picsum.photos/936/460/?random&" + Math.random(), alt=name)
            .cell.large-6.project_images_item
                img(src="//picsum.photos/936/460/?random&" + Math.random(), alt=name)
