-
    const team = [
        {
            photo: './assets/img/team/andrew.jpg',
            name: 'Andrew Kozik',
            position: 'Cofounder',
            socials: [
                {
                    icon: ['linkedin', [20, 20], 'currentColor', [382, 382]],
                    link: 'https://www.linkedin.com/in/andykozik/'
                }
            ]
        },
        {
            photo: './assets/img/team/vlad.jpg',
            name: 'Vlad Gindin',
            position: 'Cofounder',
            socials: [
                {
                    icon: ['linkedin', [20, 20], 'currentColor', [382, 382]],
                    link: 'https://www.linkedin.com/in/vlad-gindin-672a7837/'
                }
            ]
        }
    ]

mixin member(data)
    .team_member&attributes(attributes)
        .team_member_photo
            img(src=data.photo alt=data.name)
        .team_member_info
            #{!attributes ? 'h3' : 'p'}(class=attributes?'h3':'').team_member_name
                =data.name
            if data.position || data.company
                .team_member_company
                    =data.position
                    if data.company
                        span=data.company
            if data.socials
                ul.menu.simple.team_member_social
                    each social in data.socials
                        li
                            a(href=social.link target="_blank")
                                +icon(...social.icon)

mixin team_item(bg, num, prefix, position)
    .team_num
        .team_num_bg
            +icon(...bg)
        h4.team_num_info
            span.stat
                =num
            small=prefix
            =position

section#team.team(data-magellan-target="team")
    .grid-container
        h2
            | Our outstanding
            br
            strong(data-line=Array(7).join('.')) team.
        .team_members
            each member in team
                +member(member)
        .team_numbers
            +team_item(['blot_1', [82, 84], '#ffcb01'], 1, 'wonderful', 'art director')
            +team_item(['blot_2', [86, 82], '#ffcb01'], 7, 'superb', 'animators')
            +team_item(['blot_3', [90, 84], '#ffcb01'], 2, 'handsome', 'scriptwriters')
            +team_item(['blot_3', [90, 84], '#ffcb01'], 3, 'smart', 'project managers')
            +team_item(['blot_1', [82, 84], '#ffcb01'], 5, 'gorgeous', 'illustrators')
            +team_item(['blot_2', [86, 82], '#ffcb01'], 1, 'cool', 'sound designer')