- const categories = ['bank', 'blockchain', 'sport', 'apps'];

mixin work(header, description, labels)
    .works_item(data-labels=labels.join(' '))
        a.works_item_img(href="./project.html")
            img(src="//picsum.photos/1120/630/?random&" + Math.random(), alt=header)
        .works_item_content
            .works_item_content_top
                h3.works_item_header
                    a.works_item_header-link(href="./project.html")
                        =header
                .works_item_labels
                    each label in labels
                        span.label.small
                            =label
            p.works_item_descr
                !=description

section#works.works(data-magellan-target="works")
    .grid-container
        h2
            | Our 
            strong(data-line=Array(14).join('.')) outstanding 
            br
            small works
            | .
        .works_items
            ul#works_tabs.menu.vertical.menu--cats.tabs(data-tabs)
                each category, i in categories
                    li.works_label.tabs-title(class=(i==0)?'is-active':false)
                        a(href=`#work_tab_${category}` data-tabs-target=`work_tab_${category}` aria-selected=(i==0)?'true':false) 
                            =category.charAt(0).toUpperCase() + category.slice(1)

            .works_content(data-tabs-content="works_tabs")
                each category, i in categories
                    .works_carousel(id=`work_tab_${category}` class=(i==0)?'is-active':false)
                        each _ in Array(10)
                            +work('BRD animation video', 'An ecosystem for cryptocurrency payments. Minimalistic video that consists of circles, lines, lights and shades.', [...categories].sort(()=>.5-Math.random()).slice(0,2))
