-
    const categories = [
        {
            title: 'All',
            label: 'all'
        },
        {
            title: 'Finance',
            label: 'finance'
        },
        {
            title: 'UA videos',
            label: 'uavideos'
        },
        //- {
        //-     title: 'Mobile apps',
        //-     label: 'mobile'
        //- },
        {
            title: 'Blockchain',
            label: 'blockchain'
        },
        //- {
        //-     title: 'SaaS',
        //-     label: 'saas'
        //- },
        {
            title: 'Minimalistic',
            label: 'minimalistic'
        },
        {
            title: 'Characters',
            label: 'characters'
        },
        {
            title: 'Interface',
            label: 'interface'
        }
    ]

    const works = [
        {
            id: '302418130',
            header: 'Instapay Explainer from Lemon Digital',
            labels: ['characters']
        },
        {
            id: '291285446',
            header: 'Reefic Protocol video from Lemon Digital',
            labels: ['characters', 'blockchain']
        },
        {
            id: '289688517',
            header: 'SoapBox explainer video from Lemon Digital',
            labels: ['characters', 'blockchain']
        },
        {
            id: '241302614',
            header: 'Scorum - ICO explainer video from Lemon Digital',
            labels: ['characters']
        },
        {
            id: '286351156',
            header: 'Circum animation video',
            labels: ['characters', 'blockchain', 'finance']
        },
        {
            id: '254682825',
            header: 'Jolyy explainer',
            labels: ['characters', 'blockchain']
        },
        {
            id: '235137557',
            header: 'Enjincoin from Lemon Digital',
            labels: ['characters']
        },
        {
            id: '220560693',
            header: 'Next from Lemon Digital',
            labels: ['characters']
        },
        {
            id: '276735034',
            header: 'Allsparkchain explainer video from Lemon Digital',
            labels: ['minimalistic', 'interface']
        },
        {
            id: '280828211',
            header: 'BRD animated video (in collaboration with Hypercube.video)',
            labels: ['minimalistic', 'blockchain', 'finance']
        },
        {
            id: '264460335',
            header: 'VoiceCoin ICO explainer from Lemon Digital',
            labels: ['minimalistic', 'blockchain']
        },
        {
            id: '254677616',
            header: 'Dropdeck',
            labels: ['minimalistic']
        },
        {
            id: '228731577',
            header: 'Root ICO from Lemon Digital (Chinese)',
            labels: ['minimalistic']
        },
        {
            id: '233835615',
            header: 'Humaniq ICO from Lemon Digital',
            labels: ['minimalistic']
        },
        {
            id: '243336780',
            header: 'Zeus explainer from Lemon Digital',
            labels: ['minimalistic']
        },
        {
            id: '243428614',
            header: 'Miralab.io explainer for the presale from Lemon Digital',
            labels: ['minimalistic']
        },
        {
            id: '268011369',
            header: 'XYO.Network explainer',
            labels: ['blockchain']
        },
        {
            id: '266180175',
            header: 'Blockfood animation video',
            labels: ['blockchain']
        },
        {
            id: '262812687',
            header: 'Cargo Coin pre-roll video',
            labels: ['blockchain']
        },
        {
            id: '259937313',
            header: 'TheAbyss - the World’s First DAICO / Explainer',
            labels: ['blockchain']
        },
        {
            id: '259938812',
            header: 'Shivers animation video',
            labels: ['blockchain']
        },
        {
            id: '220559851',
            header: 'Living With from Lemon Digital',
            labels: ['interface']
        },
        {
            id: '179961172',
            header: 'Android Wear video for Google',
            labels: ['interface']
        },
        {
            id: '310400051',
            header: 'StreamDesk promo video',
            labels: ['crypto', 'minimalistic']
        },
        {
            id: '357807727',
            header: 'Gazprom Neft Promo video',
            labels: ['minimalistic']
        },
        {
            id: '358313654',
            header: 'BAND Great Coaches',
            labels: ['character']
        },
        {
            id: '389681162',
            header: 'Crypto Price Index Explainer',
            labels: ['finance', 'minimalistic']
        },
        {
            id: '377088685',
            header: 'Casinomia - 3d character animation',
            labels: ['character']
        },
        {
            id: '389460334',
            header: 'Joom video',
            labels: ['uavideos']
        },
        {
            id: '390840181',
            header: 'Emeals UA video with custom illustrations',
            labels: ['uavideos']
        }
    ]

mixin work(data, currCat)
    .cell.works_item(data-labels=data.labels.join(' '))
        .responsive-embed.works_item_video&attributes({
            'id': `${currCat}${data.id}`,
            'data-video': data.id,
            'data-title': data.header,
            'data-open': 'video'
        })
        .works_item_content
            h3.h6.works_item_header
                a.works_item_header-link(href=`https://vimeo.com/${data.id}` target="_blank")
                    =data.header
            .works_item_labels
                each label in data.labels
                    span.label.small
                        =label

section#works.works(data-magellan-target="works")
    .grid-container
        h2
            | Our 
            strong(data-line=Array(14).join('.')) outstanding 
            br
            | works.
        .works_items
            ul#works_tabs.menu.menu--cats.tabs(data-tabs)
                each category, i in categories
                    li.works_label.tabs-title(class=(i==0)?'is-active':false)
                        a(href=`#work_tab_${category.label}` data-tabs-target=`work_tab_${category.label}` aria-selected=(i==0)?'true':false) 
                            =category.title

            .works_content(data-tabs-content="works_tabs")
                each category, i in categories
                    .works_carousel(id=`work_tab_${category.label}` class=(i==0)?'is-active':false)
                        .grid-x.grid-margin-x.large-up-4.medium-up-3.works_carousel_slick
                            - const works_filtered = (category.label !== 'all') ? works.filter(el => el.labels.includes(category.label)) : works;
                            each work in works_filtered.reverse()
                                +work(work, category.label)
                        .works_bottom
                            a.button.medium(href='https://vimeo.com/lemonvideo' target='_blank')
                                | Watch all videos
                                span.button_icon
                                    +icon('arrow', [24, 14], '#454545')