mixin form(header, name, place_message, mod)
    section.form(data-magellan-target=mod?mod:false id=mod?mod:false)
        .grid-container
            .form_block
                h2!=header
                form.form_block_container(action="")
                    .form_block_row
                        .form_input
                            input(type="text" name="name" value=name placeholder="Name" required)
                        .form_input
                            input(type="email" name="email" placeholder="Email" required)
                    .form_input
                        textarea(name="message" placeholder=place_message required=mod?true:false)
                    .form_block_bottom    
                        button.button
                            | Send
                            span.button_icon
                                +icon('arrow', [24, 14], '#454545')